body{
    background-image: url(assets/Minions_characters.png);
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: black;
    background-color: yellow;
    border: 6px solid blue;
}

button{
    display:block;
    margin:auto;
    margin-top: 10px;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: yellow;
    border: 6px solid blue;
    
}

button:hover{
    cursor:pointer
}